.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.brand {
  width: 100%;
  span {
    font-weight: 300;
    letter-spacing: 0.3em;
  }
  cursor: pointer;
}

.sidenav-logo {
  width: 100%;
  font-size: 8rem;
  margin-top: 20px;
  text-align: center;
}

mat-nav-list a {
  text-align: center;
}

.navbar-links button {
  font-weight: 400;
  font-size: 0.95rem;
}

.brand:focus {
  outline: 0;
}
