<ng-container *ngIf="contacts.length > 0; else noContacts">
  <cdk-virtual-scroll-viewport itemSize="6" class="example-viewport">
    <div class="contact" routerLink="{{ contact.id }}" *cdkVirtualFor="let contact of contacts">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="example-item">
        <div class="mat-h1">
          {{ contact.name }}
        </div>
        <div class="mat-h3" class="mat-h3" fxLayout fxLayoutAlign="start center" fxLayoutGap="7px">
          <mat-icon>phone</mat-icon>
          <span>{{ contact.phoneNumber }}</span>
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</ng-container>
<ng-template #noContacts>
  <div class="mat-display-1">
    No contacts to display.
  </div>
</ng-template>
